@mixin upanddown {
    animation: upanddown 2s linear infinite;
    @keyframes upanddown {
        0% {
            transform: translateY(0px);
        }

        50% {
            transform: translateY(20px);
        }
    }
}
@mixin centerIt($justify: center, $align: center, $dir: row) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $dir;
}
