@import "./_reset.scss";
@import "./mixins.scss";

// menu fixing ------------------------------
.fixedMenu {
    position: fixed;
    top: 0;
    width: inherit;
    z-index: 101;
    height: 60px !important;
    @media screen and (max-width: 520px) {
        margin-left: -10px !important;
    }
    .menuItemList {
        @media screen and (max-width: 520px) {
            font-size: 0.7rem !important;
            width: 50px !important;
        }
        button {
            @media screen and (max-width: 520px) {
                width: 30px;
                height: 30px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }
    .menuItem {
        @media screen and (max-width: 520px) {
            font-size: 0.6rem !important;
            width: 80px !important;
            button {
                height: 40px !important;
                width: 50px;
                text-align: right;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
}
.menuItemSelect {
    @media screen and (max-width: 520px) {
        font-size: 0.6rem !important;
        width: 20px !important;
    }
}
.navbarCont {
    background: whitesmoke;
    height: 70px;
    position: fixed !important;
    top: 0;
    left: 0;
    right: 0;
    z-index: 101;
    // @media screen and (max-width: 520px) {
    //     font-size: 0.5rem;
    // }
}

// @media only screen and (max-width: 520px) {
//     .navbar {
//         font-size: 0.5rem;
//     }
// }

// menuHome fixed
.menuHome {
    position: fixed;
    top: 40%;
    width: fit-content !important;
    outline: solid red 2px;
    z-index: 101;
    font-size: 1.5rem !important;
}

// Select language ---------
.selectLanguage {
    width: 100px;

    @media screen and(max-width:520px) {
        width: 70px;
        font-size: 0.7rem;
    }
}
// home-intro img --------------------------------------
.homeImg {
    margin-top: 20px;
}

// intro---------------------------------
.intro {
    background: rgb(0, 172, 172);
    background: radial-gradient(
        circle,
        rgba(0, 172, 172, 1) 0%,
        rgba(0, 162, 162, 1) 25%,
        rgba(0, 112, 112, 1) 61%,
        rgba(1, 89, 89, 1) 100%
    );
    height: calc(100vh - 40px);
    margin-top: 60px !important;
}
.intro-dark {
    background: rgb(0, 58, 58) !important;
}
.headerIntro {
    position: relative;
    top: -50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    h1 {
        font-size: 4rem;
    }
    h3 {
        font-size: 3rem;
    }
}
.fa-angle-double-down {
    color: #e3f2fd;
    @include upanddown;
}

// about me --------------------
.aboutMe {
    background: rgb(215, 108, 0);
    background: radial-gradient(
        circle,
        rgba(215, 108, 0, 1) 0%,
        rgba(209, 105, 0, 1) 25%,
        rgba(176, 88, 0, 1) 61%,
        rgba(150, 75, 0, 1) 100%
    );
}
.aboutMe-dark {
    background: rgb(97, 48, 0);
}

// avatar -------------
.avatarImg {
    padding: 5px !important;
}
// about me card-------------
.aboutMeCard {
    padding: 5px !important;
    font-size: 1.4rem;
}
.aboutMeCard-dark {
    background: #1b1c1d !important;
}
// skillsAndService-----------
.skillsAndService {
    display: flex !important;
    flex-direction: column;
    justify-content: space-evenly !important;
}
// sercive list --------------
.serviceList {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.listDesc {
    text-align: left;
}

// portfolio small----------------
.portfolioSmall {
    background: rgb(0, 172, 172);
    background: radial-gradient(
        circle,
        rgba(0, 172, 172, 1) 0%,
        rgba(0, 162, 162, 1) 25%,
        rgba(0, 112, 112, 1) 61%,
        rgba(1, 89, 89, 1) 100%
    );
    font-size: 1.5rem;
}
.portfolioSmall-dark {
    @extend .intro-dark;
}
// card -------------
.cardProject {
    height: auto;
    font-size: 1.7rem;
}
// contact small ----
.contactSmall {
    @extend .aboutMe;
}
.contactHeader {
    @media screen and (max-width: 520px) {
        padding-top: 200px !important;

        position: relative;
        top: 55px;
    }
}
.contactForm {
    font-size: 2rem !important;
    .field {
        label {
            margin: 20px 0px !important;
        }
    }
}
// footer---------
.footerDiv {
    font-size: 1.6rem !important;

    a {
        margin: 5px;
    }
    button {
        margin: 5px !important;
        width: 150px;
    }
}
.btn:hover {
    transition: transform 0.4s linear !important;
    transform: scale(1.2);
    text-shadow: 2px 2px 10px white, -1px -1px 10px white !important;
}
.github:hover,
.linkedin:hover {
    background-color: rgb(93, 161, 4) !important;
}
.facebook:hover,
.twitter:hover {
    background-color: rgb(204, 12, 188) !important;
}
// top button-----------
.top-button {
    width: 60px;
    height: 50px;
    border-radius: 50%;
    background: rgba(8, 8, 8, 0.5);
    color: white;
    position: fixed;
    bottom: 1%;
    right: 1%;
    z-index: 2;
    transition: transform 0.5s linear;
    &:hover {
        transform: rotate(360deg);
    }
    a {
        color: white;
        text-decoration: none;
        @include centerIt($dir: column);

        i {
            font-size: 1.3rem;
        }
        p {
            font-size: 1.3rem;
            font-weight: bold;
        }
    }
}

//checkbox------
.checkbox {
    color: inherit;
    @include centerIt($dir: column);
    div {
        padding-bottom: 3px;
        font-size: 1.2rem;
    }
}

// darkTheme fixed classes-------
.back-white {
    background: white;
}
.back-black {
    background: #1b1c1d !important;
}
.font-white {
    color: white !important;
}
.white-border {
    border: solid white 1px !important;
}
