*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.fixedMenu {
  position: fixed;
  top: 0;
  width: inherit;
  z-index: 101;
  height: 60px !important;
}

@media screen and (max-width: 520px) {
  .fixedMenu {
    margin-left: -10px !important;
  }
}

@media screen and (max-width: 520px) {
  .fixedMenu .menuItemList {
    font-size: 0.6rem !important;
    width: 50px !important;
  }
}

@media screen and (max-width: 520px) {
  .fixedMenu .menuItem {
    font-size: 0.6rem !important;
    width: 80px !important;
  }
  .fixedMenu .menuItem button {
    height: 40px !important;
    width: 50px;
    text-align: right;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 520px) {
  .menuItemSelect {
    font-size: 0.6rem !important;
    width: 20px !important;
  }
}

.navbarCont {
  background: whitesmoke;
  height: 70px;
  position: fixed !important;
  top: 0;
  left: 0;
  right: 0;
  z-index: 101;
}

.menuHome {
  position: fixed;
  top: 40%;
  width: 120px !important;
  outline: solid red 2px;
  z-index: 101;
}

.selectLanguage {
  width: 100px;
}

@media screen and (max-width: 520px) {
  .selectLanguage {
    width: 70px;
    font-size: 0.7rem;
  }
}

.homeImg {
  margin-top: 20px;
}

.intro {
  background: #00acac;
  background: radial-gradient(circle, #00acac 0%, #00a2a2 25%, #007070 61%, #015959 100%);
  height: calc(100vh - 40px);
  margin-top: 60px !important;
}

.intro-dark, .portfolioSmall-dark {
  background: #003a3a !important;
}

.headerIntro {
  position: relative;
  top: -50px;
}

.fa-angle-double-down {
  color: #e3f2fd;
  -webkit-animation: upanddown 2s linear infinite;
          animation: upanddown 2s linear infinite;
}

@-webkit-keyframes upanddown {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
}

@keyframes upanddown {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
}

.aboutMe, .contactSmall {
  background: #d76c00;
  background: radial-gradient(circle, #d76c00 0%, #d16900 25%, #b05800 61%, #964b00 100%);
}

.aboutMe-dark {
  background: #613000;
}

.avatarImg {
  padding: 5px !important;
}

.aboutMeCard {
  padding: 5px !important;
}

.aboutMeCard-dark {
  background: #1b1c1d !important;
}

.serviceList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.listDesc {
  text-align: left;
}

.portfolioSmall {
  background: #00acac;
  background: radial-gradient(circle, #00acac 0%, #00a2a2 25%, #007070 61%, #015959 100%);
}

.cardProject {
  height: 320px;
}

.btn:hover {
  -webkit-transition: -webkit-transform 0.4s linear !important;
  transition: -webkit-transform 0.4s linear !important;
  transition: transform 0.4s linear !important;
  transition: transform 0.4s linear, -webkit-transform 0.4s linear !important;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  text-shadow: 2px 2px 10px white, -1px -1px 10px white !important;
}

.github:hover,
.linkedin:hover {
  background-color: #5da104 !important;
}

.facebook:hover,
.twitter:hover {
  background-color: #cc0cbc !important;
}

.top-button {
  width: 60px;
  height: 50px;
  border-radius: 50%;
  background: rgba(8, 8, 8, 0.5);
  color: white;
  position: fixed;
  bottom: 1%;
  right: 1%;
  z-index: 2;
  -webkit-transition: -webkit-transform 0.5s linear;
  transition: -webkit-transform 0.5s linear;
  transition: transform 0.5s linear;
  transition: transform 0.5s linear, -webkit-transform 0.5s linear;
}

.top-button:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.top-button a {
  color: white;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.top-button a i {
  font-size: 1.3rem;
}

.top-button a p {
  font-size: 1.3rem;
  font-weight: bold;
}

.checkbox {
  color: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.checkbox div {
  padding-bottom: 3px;
}

.back-white {
  background: white;
}

.back-black {
  background: #1b1c1d !important;
}

.font-white {
  color: white !important;
}

.white-border {
  border: solid white 1px !important;
}
/*# sourceMappingURL=App.css.map */